@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: #a6fff8;
}

@layer base {
  @font-face {
    font-family: "sageregular";
    src: url("sage-webfont.woff2") format("woff2"),
      url("sage-webfont.woff") format("woff"),
      url("sage-webfont.ttf") format("truetype"),
      url("sage-webfont.svg#sageregular") format("svg");
    font-weight: normal;
    font-style: normal;
  }
}

.swiper-pagination-bullet-active {
  background-color: #00838c !important;
}
